node_modules/
dist/
.expo/
web-build/
expo-env.d.ts
.kotlin/
ios/
android/
*.tsbuildinfo
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env
.env*.local
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
example

.aider-desk/
